<DOCTYPE html>
    <html>
      <head>
        <title>Student Agreement</title>
        <link rel="stylesheet" href="/static/style.css">
      <style>
      
        #overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 10;
          background: gray;
          opacity: 0.9;
          text-align: center;
          font: "Arial Black";
        }
      </style>
      </head>
      <body>
        <div id="header-grid">
          <div><h1>2022-2023 Introduction to Programming</h1></div>
      
          <div><img src = "/static/lion.png" alt="Dryden Central School District logo of a purple lion"></div>
        </div>
        <hr>
      
        <div class="plain-text">
          <div><h1>Student Agreement:</h1></div>   
          <div class="paragraph"><p>By entering your name and the date into the fields below, you are acknowledging that
          you have read and understood the course outline.</p>
            <form class= "boxed" method="post">
              {%if signed%}
              <div id="overlay">You have already signed this form.</div>
              {%endif%}
              <text>I, </text> 
              <input name = "first name" placeholder = "First name" required="True"> 
              <input name = "last name" placeholder = "Last name" required="True">
              <text>have read and understood the syllabus.
              I understand that I should contact my teacher with any questions. </text>
              <br><br>
              <text>Signature: </text> <input name = "signature" required="True"> <text>&emsp;
                Date: </text> <input name = "date" required="True" placeholder = "mm/dd/yyyy"> <input name = "sign" type="submit" value = "Submit"></button>
            </form>
          </div>
          <div></div>
        </div>
        <div></div>
        <hr>
      <div><a href="/roster">View Current Roster</a></div>

      <div><a href="/">Return to Course Outline</a></div>
      </body>
    
    

      
    </html>